.page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    gap: 10px;
    padding: 18px;
}

.grid-wrapper {
    padding: 0 18px 18px 18px;
    overflow-y: auto;
}

.grid-enabled {
    background-color: #F2F7FD;
    border-radius: 10px;
    border: dashed 1px #AAA;
}

.grid-disabled {
    background-color: #F2F7FD;
    border-radius: 10px;
}
