<div class="grid-stack-item"
     gs-x="@Options?.X"
     gs-y="@Options?.Y"
     gs-w="@Options?.W"
     gs-h="@Options?.H"
     gs-auto-position="@Options?.AutoPosition"
     gs-min-w="@Options?.MinW"
     gs-max-w="@Options?.MaxW"
     gs-min-h="@Options?.MinH"
     gs-max-h="@Options?.MaxH"
     gs-no-resize="@Options?.NoResize.ToString()"
     gs-no-move="@Options?.NoMove.ToString()"
     gs-locked="@Options?.IsLocked.ToString()"
     gs-id="@Options?.Id"
     gs-content="@Options?.Content">
    <div class="grid-stack-item-content">@ChildContent</div> 
</div>